<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="current_session_context_class">thread</property>

        <!--<mapping class="Parent"/>-->
        <!--<mapping class="Child"/>-->

        <!--<mapping class="Dummy"/>-->

        <mapping class="demo.HousePost"/>
        <mapping class="demo.RoomPost"/>
        <mapping class="demo.PostImage"/>
        <mapping class="Department"/>

    </session-factory>
</hibernate-configuration>