<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <property name="current_session_context_class">thread</property>

        <mapping class="Parent"/>
        <mapping class="Child"/>

    </session-factory>
</hibernate-configuration>